<h1><%= @post.title %></h1>
<br/>
<h3><%= @post.content %></h3>
<br/>
<%= link_to "Edit", controller: "posts", action: "edit", id: @post %>
<%= link_to('delete', destroy_it_path , method: :delete ) %>