<h1><%= @post.title %></h1>
<br/>
<h3><%= @post.content %></h3>
<br/>
<%= link_to "Edit", controller: "posts", action: "edit", id: @post %>
<%= link_to "Delete", controller: "posts", action: "destroy", id: @post . method: :delete%>